* text=auto
*.h linguist-language=C++
*.hpp linguist-language=C++
*.c linguist-language=C
*.cpp linguist-language=C++
*.ps1 linguist-language=C++
*.bat linguist-language=PowerShell
*.sln       merge=binary
*.csproj    merge=binary
*.vbproj    merge=binary
*.vcxproj   merge=binary
*.vcproj    merge=binary
*.dbproj    merge=binary
*.fsproj    merge=binary
*.lsproj    merge=binary
*.wixproj   merge=binary
*.modelproj merge=binary
*.sqlproj   merge=binary
*.wwaproj   merge=binary
*.jpg   binary
*.png   binary
*.gif   binary
*.doc   diff=astextplain
*.DOC   diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain
